
* import fonts from fonts.css file */ 
@import url(../fonts/Roboto/);
@import url('fonts.css');
@import url(../fonts/Roboto);
/* css variables */ 
@import url(../Content/partials/_variables.css);

/* import global styling */ 
@import url(../Content/partials/_global.css);
@import url('partials/_variables.css');
@import url('partials/_global.css');
@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-BlackItalic';
    src: url('../fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-BoldItalic';
    src: url('../fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-LightItalic';
    src: url('../fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-MediumItalic';
    src: url('../fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto/Roboto-Thin.ttf') format('truetype');
}



html, body {
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}


/* CSS Variables */

:root {
    --primary-color: #4458dc;
    --primary-color2: #854fee;
    --title-color: #141313;
    --text-color: #777777;
    --border-color: #201f1f17;
    --gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
    /* font family variables. */
    --roboto: 'Roboto', cursive;
} 






/* start navigation */

.header_area {
    background-color: saddlebrown;
}
.header_area .main-menu .navbar .navbar-brand {
   
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar {
    padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link {
    font: normal 700 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

    .header_area .main-menu .navbar-nav .active a {
        background: var(--gradient-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

.header_area .main-menu .navbar-nav a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */


/* Banner Area*/
.site-main .site-banner {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
    .site-main .site-banner::before {
        content: "";
        background-image: url('../img/banner/wallpaperflare.com_wallpaper (2).jpg');
        background-size: cover;
        background-attachment: fixed;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.75;
    }
.site-main .site-banner .banner-col {
    position: relative;
    bottom: 100px;
}
    .site-main .site-banner .site-title {
    position:relative;
    top:110px;
    }
    .site-main .site-banner .site-title {
        font: var(--roboto);
    }
        .site-main .site-banner .site-title h3 {
            padding-top: 5%; 
            position: relative;
            color: black;
            line-height: 2px;
            text-align: center;
            font: normal bold 48px/35px var(--roboto);
        }

        .site-main .site-banner .site-title h3::after {
            content: " ";
            height: 2px;
            width: 18vw;
            background: black;
            display: inline-block;
            margin-left: 5%;
            transform: translateY(-10px);
            color: black;
        }
        .site-main .site-banner .site-title .btn {
            position: relative;
            left: 30%;
            transform: translate(-50%, 0%);
            -ms-transform: translate(-50%, -50%);
            background-color: #f1f1f1;
            font-size: 16px;
            padding: 16px 30px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
            
            background-image: linear-gradient(180deg, saddlebrown,gold );
        }

            .site-main .site-banner .site-title .btn:hover {
                background-image: linear-gradient(180deg, purple, black);
                color: white;
            }

        .site-main .site-banner .site-title h1 {
            font: normal bold 40px/35px var(--roboto);
            font-size: 2.5rem;
            line-height: 50px;
            color: black;
        }

        .site-main .site-banner .site-title h4 {
            font-size: 1.2rem;
            line-height: 20px;
            color: black;
            font: normal bold 24px/25px var(--roboto);
        }
    
    .site-main .site-banner .banner-image > img {
        position: relative;
        top: 140px;
        padding: 2rem 0;
        width: 90rem;
    }



/* End Banner Area
     padding: 7rem 0;
        width: 70rem;
*/

/* Start About Area  padding: 8rem 5rem;*/

.site-main .about-area {
    display: flex;
    height: 140vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: black;
    background: url(../img/3788819.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 2rem 0;
    margin: 1rem auto;
}
    .site-main .about-area .about-title {
        position: relative;
        bottom: 20px;
    }


    .site-main .about-area .about-image > img {
        position: relative;
        width: 500px;
        bottom: 20px;
    }
.site-main .about-area .about-title h2 > span {
    display: block;
    font: normal bold 32px/30px var(--roboto);
    letter-spacing: 8px;
    color: white;
}
    .site-main .about-area .about-title-text .btn {
        position: relative;
        left: 30%;
        transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, -50%);
        font-size: 16px;
        padding: 16px 30px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
        background-image: linear-gradient(180deg, purple, blue);
       
    }

        .site-main .about-area .about-title-text .btn:hover {
            background-image: linear-gradient(180deg, purple, black);
            color: black;
        }

    .site-main .about-area .about-title-text .paragraph > p {
        padding: .4rem 0;
        color: white;
        font: normal 20px/22px var(--roboto);
    }



/* End About Area */


/* Start Brand Area */



.site-main .brand-area {
    background-color: black;
    padding: 1rem 20rem;
    margin-bottom: 8rem;
    position: relative;
    height: 110vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .site-main .brand-area::before {
        content: "";
        background-image: url('../img/banner/kenyanflagboy.PNG');
        background-attachment: fixed;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.5;
    }

    .site-main .brand-area .first-row .col-lg-4 {
        display: flex;
        justify-content: center;
    }
  

        .site-main .brand-area .first-row .col-lg-4 > .single-brand {
            border: 1px solid var(--border-color);
            text-align: center;
            padding: 1.8rem 0rem;
            margin: .9rem 0;
            width: 180px;
            height: 100px;
            cursor: pointer;
            transition: transform .4s ease;
        }

            .site-main .brand-area .first-row .col-lg-4 > .single-brand > img {
                width: 50%;
            }

            .site-main .brand-area .first-row .col-lg-4 > .single-brand:hover {
                box-shadow: var(--box-shadow);
                transform: scale(1.1);
            }

                .site-main .brand-area .first-row .col-lg-4 > .single-brand:hover > img {
                    filter: brightness(0.15);
                }
/* Start  margin: 5rem auto;................ */


    .site-main .brand-area .brand-img-area {
     
        position: relative;
        bottom: 20px;
        height: 450px;
    }


    .site-main .brand-area .brand-img-area .brand-body {
        font-family: Verdana, sans-serif;
    }

        .site-main .brand-area .brand-img-area .mySlides {
            display: none;
            position:relative;
            max-height: 450px;
            top:10px
        }
            .site-main .brand-area .brand-img-area .mySlides > img {
                vertical-align: middle;
                display: block;
                max-height: inherit;
                widows: inherit;
           
            }

            
            /* Slideshow container */
            .site-main .brand-area .brand-img-area .slideshow-container {
               height:450px;
             

            }

/* Caption text */
        .site-main .brand-area .brand-img-area .text {
            color: mediumpurple;
            font-size: 22px;
            padding: 8px 12px;
            position: relative;
            bottom: 8px;
            width: 100%;
            text-align: center;
            font: normal bold var(--roboto);
        }

/* Number text (1/3 etc) */
    .site-main .brand-area .brand-img-area .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

/* The dots/bullets/indicators */
    .site-main .brand-area .brand-img-area .dot {
        height: 10px;
        width: 10px;
        margin: 0 2px;
        background-color: red;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        position: relative;
        bottom:500px
       
    }

    .site-main .brand-area .brand-img-area .active {
        background-color: #717171;
    }

/* Fading animation */
    .site-main .brand-area .brand-img-area .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }


@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .site-main .brand-area .brand-img-area .text {
        font-size: 11px
    }
}








.site-main .brand-area .experience-area {
    
    position: relative;
    right:2rem; 
    align-content: center;
   
}

    .site-main .brand-area .experience-area span {
        display: block;
    }

        .site-main .brand-area .experience-area .years-area {
            background: url(../img/client-info-bg.png) no-repeat 45px 20px;
            position: relative;
          
        }

        .site-main .brand-area .experience-area .years-area .years {
            font: normal bold 84px/40px var(--roboto);
            color: var(--primary-color2);
            z-index: 2;
        }

        .site-main .brand-area .experience-area .years-area h2 > span {
            font: normal 900 30px/35px var(--roboto);
            color:whitesmoke;
        }

    .site-main .brand-area .experience-area .call-area {
        position: relative;
        padding-left: 2rem;
        padding-top: 2rem;
        color: whitesmoke;
        font: normal bold 21px/26px var(--roboto);
    }



/* End Brand Area */

/* Services Area */

.site-main .services-area {

    position: relative;
    bottom: 200px;
}

    .site-main .services-area .services-title {
        padding: 0 14rem;
        position: relative;
        top: 55px;
        
    }

        .site-main .services-area .services-title h1 {
            top: 75px;
            bottom: 50px;
            color: black;
            font: normal bold 35px var(--roboto);
        }
        .site-main .services-area .services-title p {
            font-size: 20px;
            color: black;
            font: normal bold 20px var(--roboto);
        }
  .site-main .services-area .borderz{
      position :relative;
      top:30px;

  }

    .site-main > .services-area .services {
        background: rgba(255,0,0,0.2);
        padding:16px 30px ;
        width: 16rem;
        margin: 0.5rem 0.5rem;
        transition: box-shadow .5s ease;
    }

    .site-main > .services-area .services:hover {
        box-shadow: 5px 10px rgba(255,0,0,0.5);
    }



/* End Services Area */


/* Project Area */

.site-main .project-area {
    padding: 4rem 0;
    position: relative;
    bottom: 150px;
}
    .site-main .project-area h1 {
        font-size: 25px;
        line-height: 20px;
        font: bold 25px var(--roboto);
    }
    .site-main .project-area .rowgallery {
        width: 900px;
        height: 600px;
        padding: 10px;
        position: relative;
        top: 30px;
        background-image: url('../img/banner/wallpaperflare.com_wallpaper (1).jpg');
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden auto;
    }
       
        .site-main .project-area .rowgallery .projects-gallery .pic-area .img {
            position: relative;
            padding-top: 50px;
            border-bottom: dotted;
            border-color: whitesmoke;
            padding-top: 20px;
        }

                .site-main .project-area .rowgallery .projects-gallery .pic-area .img a:hover img {
                    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
                }

            .site-main .project-area .rowgallery .projects-gallery .text-area h2 > span {
                display: block;
                font: normal bold 20px/ 21px var(--roboto);
                letter-spacing: 3px;
                color: white;
            }
            .site-main .project-area .rowgallery .projects-gallery .text-area .paragraph > p {
                padding: .4rem 0;
                color: white;
                font-family: Georgia, serif;
            }


            .site-main .project-area .button-group button {
                background: transparent;
                border: none;
                font: normal 500 16px/130px var(--roboto);
                text-transform: uppercase;
                position: relative;
                bottom: 70px;
            }

        .site-main .project-area .button-group button + button {
            padding-left: 3rem;
        }

/* End Project Area */


/* About Me */
.site-main .aboutme-area .col-about {
    position: relative;
    bottom:180px;
    margin: 7rem auto;
}
.site-main .aboutme-area .col-tabs {
    padding: 10px;
    background-color: greenyellow;
    background: url(../img/1340240.jpg) no-repeat;
    background-size: cover;
    position: relative;
    bottom:290px;
    margin: 3rem auto;
}
.site-main .aboutme-area .about-title h1 {
    padding: 1rem 7rem;
    color: black;
    font-size: 21px;
    line-height: 20px;
    font: normal bold 21px var(--roboto);
}
.site-main .aboutme-area .about-title p {
    font: normal 18px var(--roboto);
    color: black;
    font-size: 18px;
}
.site-main .aboutme-area .click-title h2 {
    font: normal 400 30px/ 20px var(--roboto);
    padding: 50px;
    color:whitesmoke;
}
.site-main .aboutme-area .click-title .names {
    font: normal 200 30px/ 20px var(--roboto);
    color:rebeccapurple;
}
.site-main .aboutme-area .click-title .other p {
    font: normal 100 21px/ 20px var(--roboto);
    color: whitesmoke;
}
.site-main .aboutme-area .click-title .other h4 {
    font: normal 300 30px/ 20px var(--roboto);
    padding: -5%;
    color: whitesmoke;
}

.site-main .aboutme-area .client {
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;
    
}

    .site-main .aboutme-area .client .client-img {
        padding: 2rem;
    }

    .site-main .aboutme-area .client .about-client {
        padding-top: 2rem;
    }

        .site-main .aboutme-area .client .about-client h4 {
            font: normal 500 21px/ 20px var(--roboto);
        }

        .site-main .aboutme-area .client .about-client p {
            font-size: 14px;
        }

.site-main .aboutme-area .owl-carousel .owl-item {
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}




/* End About Me */

/* Subscribe me */
.site-main .subscribe-us-area .subscribe {
    background: url(../img/bulb.jpg) no-repeat;
    background-size: cover;
    padding: 10rem 0;
    margin: 3rem auto;
    position: relative;
    bottom: 240px;
}

    .site-main .subscribe-us-area .subscribe .subscribe-title h4 {
        font: normal 700 35px/35px var(--roboto);
        color: black;
        padding: 1rem 2rem;
    }

    .site-main .subscribe-us-area .subscribe .subscribe-title p {
        color:black;
        font: normal 400 30px/ 30px var(--roboto);
        padding: 1rem 4rem;
    }
    .site-main .subscribe-us-area .subscribe .subscribe-title a {
        color: whitesmoke;
        font: normal 100 21px/ 24px var(--roboto);
        padding: 1rem 2rem;
    }

    .site-main .subscribe-us-area .subscribe form .input-textbox input {
        width: 400px;
        padding: 1.5rem 2rem;
        border: 1px solid whitesmoke;
        background: transparent;
        color: white;
        font: normal 500 17px/20px var(--roboto);
    }

        .site-main .subscribe-us-area .subscribe form .input-textbox input::placeholder {
            color: whitesmoke;
            position: relative;
            left: 500px;
        }

    .site-main .subscribe-us-area .subscribe form .btn-submit button {
        background: whitesmoke;
        color: #000;
        padding: .9rem 2rem;
        align-items: center;
        position :relative;
        left: 500px;
    }

/* End subscribe me */

/* Footer Area */

footer.footer-area {
    padding: 5rem 0;
    background: url(../img/footer-bg.png) no-repeat;
    position :relative;
    bottom :290px;
}

    footer.footer-area .social h5 {
        font: normal 500 23px/ 30px var(--roboto);
    }

    footer.footer-area .social a > i {
        font-size: 22px;
        padding: 2rem;
        color: var(--border-color);
    }

    footer.footer-area .social a:hover > i {
        color: var(--primary-color);
    }


/* End Footer */ 
